// Profile Pages
.social {
  .social-item {
    font-size: 1rem;
    padding: 6px 8px;
    margin-right: .25rem;
  }
  .social-item.fb {
    padding: 6px 12px;
  }
  .social-item.yt {
    padding: 6px 7px;
  }
  .social-item.ig {
    padding: 6px 9px;
  }
}

.advertiser-cat {
  font-size: 1.125rem;
  font-weight: $font-weight-bold;
  font-family: $font-family-sans-serif-reg;
  margin-left: 1rem;
}

.btn.tags {
  padding: 0 0.5rem;
}

.scrollarea {
  max-height: 260px;
  overflow-y: scroll;
}

.locations {
  a {
    color: $body-color;
  }
}

.tollfree {
  font-weight: $font-weight-bold;
  font-family: $font-family-sans-serif-reg;
}

// #map {
//   height: 500px;
//   width: 100%;
//   background-color: grey;
// }

.wrap-collapsible input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

#map {
  height: 250px;
  overflow: hidden;
  transition: height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + #map {
  height: 500px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}