// Profile Pages
.social {
  .social-item {
    font-size: .5rem;
  }
}

.header-logo {
  width: 200px;
  min-width: 200px;
  padding-top: 10px;
}

.write-up {
  font-family: $font-family-sans-serif-reg;

  h4 {
    font-size: 1.25rem;
    margin-bottom: 0;
    font-weight: $font-weight-semibold;
  }
}

.advertiser-cat {
  font-size: 1.125rem;
  font-weight: $font-weight-bold;
  font-family: $font-family-sans-serif-reg;
  margin-left: 1rem;
}

.btn.tags {
  padding: 0 0.5rem;
}

.info {
  font-family: $font-family-sans-serif-reg;

  h4 {
    font-size: 1.75rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 0.25rem;
  }
}

.amenity, .day {
  font-weight: $font-weight-bold;
  padding-right: .5rem;
}

.scrollarea {
  max-height: 260px;
  overflow-y: scroll;
}

.locations {
  line-height: 1.2;

  a {
    color: $body-color;
    @media print {
      color: #000;
    }
  }
  
  .fa-ul {
    margin-left: 1.75rem;
  }
  @media print {
    color: #000;
  }
}

.tollfree {
  font-weight: $font-weight-bold;
  font-family: $font-family-sans-serif-reg;
}

// #map {
//   height: 500px;
//   width: 100%;
//   background-color: grey;
// }

.map-container {
  height: 250px;
  width: 100%;
  position: relative;
}

#show-map {
}

.placeholder {
  height: 100%;
  background: url("/images/main/map-placeholder.png") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.info-window {
  font-size: 1rem;
}
.map-button {
  margin: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-47%, -50%);
  transform: translate(-47%, -50%);
  text-align: center;
  font-family: $headings-font-family !important;
  font-size: 1.25rem;
  font-weight: $font-weight-bold;
  color: $primary;

  a:hover {
    text-decoration: none;
  }

  img {
    width: 127px;
    margin-bottom: 6px;
  }
}

.wrap-collapsible input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

#map {
  height: 250px;
  overflow: hidden;
  transition: height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + #map {
  height: 500px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}