// ARTICLES INDEX PAGE
.tripIdeas {
	h2 {
		// color: $editorial;
	}

	.card-title, .card-title a {
		color: $editorial;
		font-weight: $font-weight-bold;
	}
}

.advSpotlights {
	background-color: $green-light;
	padding: 2rem 0;

	h2 {
		color: $primary;
	}

	.card {
		border: none;
	}

	.card-title, .card-title a {
		color: $advertisers;
		font-weight: $font-weight-bold;
	}

}

.visitorInfo {
    h5 {
        color: $editorial;
        font-weight: $font-weight-bold;
    }

    .media .image {
        width: 35%;
    }

    .stacked-cards {
    	padding-bottom: 1rem;

        .card-img {
            width: 33%;
        }
    }

}


// ARTICLE SHOW PAGE
.storytype {
    font-weight: $font-weight-bold;
    font-size: $h4-font-size;
    text-transform: uppercase;
    color: $light;

    @include media-breakpoint-down(md) {
        @include font-size($h5-font-size);
    }
}
.meta-time {
    margin-right: 1rem;
}
.article-title {
    font-size: 4rem;

    @include media-breakpoint-down(md) {
        font-size: 3rem;
    }
}
.excerpt {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: $font-weight-medium;
    font-style: italic;
    color: $light;
}

.content h2 {
    font-weight: $font-weight-bold;
    color: $blue;
    font-size: 1.9rem;
    margin-top: 2rem;
}
.content h3 {
    @include font-size($h4-font-size);
}

blockquote, .content .fr-view blockquote {
    display: block;
    border-width: 4px 0;
    border-style: solid;
    border-color: $light;
    font-family: $headings-font-family;
    font-style: italic;
    font-size: 1.25rem;
    color: $body-color;
    margin: 3rem 12%;
    padding: 1.5em 0 0.5em;
    padding-bottom: 0;
    position: relative;
    text-align: center;
}
blockquote:before {
    content: '\201C' '\201D';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 6rem;
    height: 2rem;
    font: 6em/.95em 'PT Sans', sans-serif;
    color: $highlight;
    text-align: center;
}

// FROALA IMAGEOVERRIDES
.content .fr-view span.fr-img-caption.fr-dii.fr-fir {
    margin-top: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;
    width: 338px;

    @include media-breakpoint-down(sm) {
        float: none;
        width: 100%;
    }
}

.content .fr-view span.fr-img-caption.fr-dii.fr-fil {
    margin-top: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;
    width: 338px;

    @include media-breakpoint-down(sm) {
        float: none;
        width: 100%;
    }
}

@include media-breakpoint-up(md) {
    .content .fr-view span.fr-img-caption.fr-dii.fr-fir {
        margin: $grid-gutter-width;
        margin-right: -16.6666666667%;
    }

    .content .fr-view span.fr-img-caption.fr-dii.fr-fil {
        margin: $grid-gutter-width;
        margin-left: -16.6666666667%;
    }

    .content .fr-view span.fr-img-caption.fr-dii {
        margin-right: 0; 
    }
}

.content .fr-view .fr-img-caption .fr-img-wrap>span {
    padding: 10px;
    font-size: 14px;
    font-weight: initial;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: "alpha(Opacity=0)";
    width: 100%;
    text-align: left;
    background-color: $light;
    color: white;
}


