.card-title {
    font-size: 1.25rem;
}

.card-title, .card-title a {
    font-weight: $font-weight-bold;
}

.card-footer {
    background-color: $card-bg;
    border-top: none;
    padding-top: 0;
}

.overlay img {
    background-color: rgba(255,255,255,0.00);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.overlay:hover img {
    opacity: .75;
}

.media-footer {
    position: relative;
    bottom: 0;
}

.card-article {
    .card-title, .card-title a {
        color: $editorial;
    }
}

.card-advertiser {
    .card-title, .card-title a {
        color: $advertisers;
    }
}

.primary-article {
    .card-title {
        font-size: 1.75rem;
    }
}

.panel {
    .card {
        border: none;
    }
}

.market-home {
    .card {
        border: none;
    }
    
    @include media-breakpoint-down(sm) {
        .card::after, .card-h::after {
            content: "";
            clear: both;
            display: block;
            height: 8px;
            margin-top: 10px;
            margin-left: -1rem;
            margin-right: -1rem;
            background: lighten($light, 15);
            min-width: 416px;
        }

        .card-h {
            margin-top: 20px;
        }
    }
}
