/* ---- Tide Charts */
.tide-charts table {
  margin: 1rem 0;
  width: 100%;
  text-align: center;

  @include media-breakpoint-up(md) {
    float: left;
    width: 45%;
    margin: 1rem 2.5%;
  }
}
.tide-charts table .tides-month {
  background-color: $primary;
  color: $white;
  font-weight: bold;
  font-size: 1.15rem;
}