.print {
	a {
	    color: $body-color;
	  }
}

.coupon-container {
	border: 4px dashed $primary;
	padding: .5em;
	margin: .6em 0;
	text-align: center;

	.logo {
		text-align: center;
		margin: .75em;

		img {
			width: 200px;
		}		
	}
}
.offer {
	background-color: $primary;
	color: white;
	@include font-size($h1-font-size);
	line-height: 1;
	font-weight: $font-weight-bold;
	font-family: $font-family-sans-serif-reg;
	text-transform: uppercase;
    padding: .5rem;
    margin-bottom: .5rem;
}
.suboffer {
	@include font-size($h3-font-size);
	line-height: 1;
	font-weight: $font-weight-bold;
    color: $advertisers;
    text-transform: uppercase;
}
.disclaimer {
	font-weight: $font-weight-light;
	margin-bottom: .75rem;
	@include font-size($font-size-sm);
	line-height: 1.2;
}
.promo-code {
	font-weight: $font-weight-bold;
	background-color: $body-color;
	color: white;
	padding: .25rem .5rem;
	margin-left: .5rem;
}
.coupon-footer {
	background-color: lighten($light, 10);
	margin: -1em;
	line-height: 1.2;
	padding: .75em;
}