fieldset {
	margin-bottom: 1rem;
}

legend {
	font-weight: $font-weight-bold;
	font-family: $headings-font-family;
	line-height: 1.2;
	color: $advertisers;
	border-bottom: 1px solid $dark; 
}

.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
	top: .8rem;
	width: 1.55rem;
	height: 1.55rem;
}

.checkbox-lg .custom-control-label {
	padding-top: 13px;
	padding-left: 6px;
}