html.home,
.home body,
.home header,
#intro {
    height: 100vh;
}

body.home {
    padding-top: 0;
}

#intro {
    background: url("/images/home/sdg-home-main-beach-family.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home header {
    margin-bottom: 0;
}

.view:after {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 300px;
        z-index: 1;
        background-image: -moz-linear-gradient(transparent, rgba(0,0,0,0.7));
        background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.7));
        background-image: -ms-linear-gradient(transparent, rgba(0,0,0,0.7));
        background-image: linear-gradient(transparent, rgba(0,0,0,0.7));
    }

.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

#intro .navbar {
    background-color: transparent;
    border: none;

    @include media-breakpoint-down(sm) {
        background-color: $primary;
        padding-left: 0;
        padding-right: 0;
    }
}

.home-nav {
    background-color: $primary;
    border-bottom: 8px solid $green;

    @include media-breakpoint-down(sm) {
        background-color: $green;
        border-bottom: 8px solid $primary;
    }

    .nav-link {
        font-size: 1.35rem;
        padding-left: 0;
        color: $white;

        @include media-breakpoint-down(sm) {
            font-size: 1.25rem;
            text-align: center;
        }

    }

    a {
        color: white;
    }

    .dropdown-menu {
        background-color: $green;
        width: 100%;
        border-radius: 0;
        border: none;
        padding: 0.75rem 1rem;
        margin-top: -.5rem;
        font-family: $headings-font-family;
        font-size: 1.35rem;

        @include media-breakpoint-down(sm) {
            // min-height: 100vh;
        }
    }

    .dropdown-item {
        font-size: 1.75rem;
        text-align: center;
        font-weight: $font-weight-bold;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        margin-top: .5rem;
        margin-bottom: .5rem;
        white-space: normal;
        line-height: 1;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }

    .dropdown-item:hover, .dropdown-item:focus {
        color: $primary;
        text-decoration: none;
        background-color: $green-light;
        font-weight: $font-weight-bold;
    }
    .dropdown-toggle::after {
        display: none;
        margin-left: 0;
        border: none;
    }

}

// Home Page Card Columns
.card-columns {
  column-gap: 0;

    @include media-breakpoint-only(lg) {
        column-count: 3;
    }
    @include media-breakpoint-only(xl) {
        column-count: 3;
    }
    .card {
        border: none;
        margin-bottom: 0;
    }

    .card-title {
        margin-bottom: 0.25rem;
    }

    .card-img-overlay {
      padding-bottom: .85rem;
    }
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  // background-color: #bbb;
  // color: black;
}

.flip-card-back {
  transform: rotateY(180deg);

  .card-img-overlay {
    background-color: rgba($primary, .75);
    width: 100%; 
    height: calc(100% + .5rem);
}
}
.jumbo-header {
    position: relative;
    // padding-bottom: 3.5rem;
    z-index: 2;

    hr {
        border: 1px solid $white;
    }

    h1 {
        color: $white;
        font-size: 3.5rem;
        font-weight: $font-weight-black;
        line-height: 1;
        text-shadow: 0 0 25px rgba($gray-900, 1);

        @include media-breakpoint-up(md) {
            font-size: 6rem;
        }
    }

    h4 {
        color: $white;
        text-shadow: 0 0 25px rgba($gray-900, 1);
        font-size: 1.5rem;

        @include media-breakpoint-up(md) {
            font-size: 2rem;
        }
    }
}

// .flip-card-back img {
//     opacity: .9;
// }