.navbar {
	background-color: $primary;
	padding-top: 0;
	padding-bottom: 0;
	
	.nav-link {
		color: $primary;
	}
}

@media (max-width: 1199.98px) {
  .offcanvas-collapse {
    position: fixed;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: $primary;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    // z-index: 1030;
    @include media-breakpoint-down(sm) {
    	top: 60px; /* Height of navbar */
    }
    @include media-breakpoint-only(md) {
    	top: 119px; /* Height of navbar */
    }
    @include media-breakpoint-only(lg) {
    	top: 119px; /* Height of navbar */
    }

  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.weather {
	font-weight: $font-weight-normal;
	text-align: center;
	color: $white;
	font-size: 1.75rem;

	a {
		text-decoration: none;
		color: $white;
	}

	a:hover {
		text-decoration: none;
		color: $green;
	}

	.temp .wi-degrees {
		font-size: 2rem;
		line-height: 2;
		padding-left: .05rem;
	}

}

.icon {
	float: left;
	margin-right: .5rem;
}

#branding {
	height: 60px;
	display: flex;
	align-items: center;

	@include media-breakpoint-up(md) {
		height: 78px;
	}

	@include media-breakpoint-down(sm) {
		img {
			height: 60px;
		}
	}
}

.navbar-brand {
	width: 180px;
	padding: 0;

	@include media-breakpoint-down(sm) {
		width: 150px;
	}
}

.nav-link {
	font-size: 1.25rem;
	text-transform: uppercase;
}

.btn-nav {
	font-family: $headings-font-family !important;
	color: $white;
	text-transform: uppercase;
	font-weight: $font-weight-semibold;

	:hover {
		color: $white !important;
	}
}

.more {
	padding-top: 0;
	padding-bottom: 0;
}

.megamenu {
	position: static;

	.megamenu-heading {
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		margin-bottom: 0;
		font-family: $headings-font-family;
		font-size: 1.15rem;

		a:hover {
			text-decoration: none;
			color: $dark;
		}
	}

	.megamenu-subheading {
		font-size: 1rem;
		padding: .35rem 0;
	}

	.dropdown-menu {
		background: none;
		border: none;
		width: 100%;

		.nav-link {
			font-size: 1rem;
			color: $body-color;
			text-transform: none;
		}
	}

	.subcategories {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: .5rem;
	}

	.subcategory {
		width: 50%;
		box-sizing: border-box;
		background-clip:content-box;
	}

}

.guide-link {
	text-transform: uppercase;
	font-weight: $font-weight-bold;
	color: $highlight;
	font-size: 1.45rem;

	a {
		color: $highlight;
	}

	a:hover {
		text-decoration: none;
		color: $dark;
	}
}

.megamenu-std {
	.megamenu-guide {
		position: relative;
		padding: 0;
		border-bottom: 4px solid $highlight;
	}

	.guide-text {
		padding-top: .75rem;
		padding-left: 12px;
		padding-right: 12px;
	}

	.guide-image img {
		position: absolute;
		top: 1px;
		clip-path: inset(0 0 39px 0);
		max-width: 100%; // from img-fluid
		max-height: 203px;
	}
}

.megamenu-alt {
	.nav-categories {
		height: 390px;
	}

	.megamenu-bottom {
		min-height: 120px;
	}

	.megamenu-guide {
		position: relative;
		border-bottom: none;
	}

	.guide-image img {
		position: absolute;
		top: -15px;
		left: 1rem;
		clip-path: inset(0 0 68px 0);
		max-width: 100%; // from img-fluid
		max-height: 203px;
	}
}

.megamenu-block {
	margin-bottom: 2rem;
}

.nav-articles {
	ul li:first-of-type {
		a {
			font-weight: $font-weight-bold;
			font-family: $headings-font-family;
			line-height: 1;
		}
	}
}

// Top Bar
.navbar-top {
	// background-color: #eee; 
	background-color: $editorial-lt;

	.nav-link {
		text-transform: none;
		font-size: 1rem;
	}

	.dropdown-item:hover, .dropdown-item:focus {
		color: $white;
		background-color: $green;
	}
}

.nav-market {
	font-family: $headings-font-family;
	color: $primary;

	@include media-breakpoint-down(sm) {
		color: $blue-light;
		font-size: 1.25rem;
		padding-top: .75rem;
	}

	.market-name {
		font-weight: $font-weight-bold;
		text-transform: uppercase;
	}

	.cities {
		font-size: .9rem;
	}
}

// Mobile Only
.hamburger-nav {
    width: 22px;
    height: 19px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    @include media-breakpoint-up(xl) {
		display: none;
	}
}

.hamburger-nav span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    margin-left: auto;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.hamburger-nav span:first-child {
    top: 0;
}

.hamburger-nav span:nth-child(2), .hamburger-nav span:nth-child(3) {
    top: 7px;
    width: 80%;
}

.hamburger-nav span:nth-child(4) {
    top: 14px;
    width: 60%;
}

.mobile-nav {
	min-height: 100vh;
	
	.no-sub {
		margin-left: 22px;
	}

	.dropdown-toggle::after {
		display: none;
	}

	.dropdown-toggle::before {
		border: 0.125rem solid currentColor;
		border-top: 0;
		border-left: 0;
		content: '';
		display: inline-block;
		height: 0.75rem;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		width: 0.75rem;
		margin-right: .5rem;
		vertical-align: .25rem;
	}

	.show .dropdown-toggle::before {
		transform: rotate(-135deg);
		vertical-align: -.1rem;
	}

	.menu-group-primary>.dropdown>.dropdown-toggle {
		padding-bottom: .75rem;
		padding-top: .75rem;
	}

	.dropdown-toggle:not([aria-expanded='true'])::after {
		background-color: $white;
		bottom: 0;
		content: '';
		display: block;
		height: 0.0625rem;
		left: 1.125rem;
		right: -2rem;
		position: absolute;
		border: none;
		margin-left: 0;
	}

	.dropdown-menu {
		padding: 0.5rem 0;
		margin-left: -1rem;
		margin-right: -1rem;
		margin-top: 0;
		font-size: 1.25rem;
		color: $blue-light;
		text-align: left;
		list-style: none;
		background-color: darken($primary, 5);
		border: none;
		border-radius: 0;
		overflow: hidden;

		.dropdown-item {
			color: $blue-light;
	    	// padding-left: 1rem;
	    }

	    .category-home {
	    	padding-left: .75rem;
	    }

	    .subcategory-item {
	    	padding-left: 2.5rem;
	    }
	}

	.menu-item-title {
		font-size: 1.35rem;
	}

	.megamenu-guide {
		position: relative;
		padding: 0;
		border-bottom: 4px solid $highlight;
	}

	.guide-text {
		padding-top: .75rem;
		padding-left: 12px;
		padding-right: 12px;
	}

	.guide-image img {
		position: absolute;
		top: 1px;
		clip-path: inset(0 0 39px 0);
	max-width: 100%; // from img-fluid
	max-height: 203px;
}

.guide-link {
	text-transform: uppercase;
	font-weight: $font-weight-bold;
	color: $white;
	font-size: 1.45rem;

	a {
		color: $white;
	}

}


}

