.navbar {
	// min-height: 93px;
	background-color: $primary;
	padding-top: 0;
	padding-bottom: 0;
	// border-bottom: 8px solid $green;

	.bucket-list {
		background-color: $green;
		height: 100%;
		padding: 1rem;

		.nav-link {
			color: $primary;
		}
	}
}

.weather {
	font-weight: $font-weight-normal;
	text-align: center;
    color: $white;
    font-size: 1.75rem;

    a {
    	text-decoration: none;
    	color: $white;
    }

    a:hover {
    	text-decoration: none;
    	color: $green;
    }

    .temp .wi-degrees {
		font-size: 2rem;
		line-height: 2;
		padding-left: .05rem;
    }

}

.icon {
	float: left;
    margin-right: .5rem;
}

#branding {
	height: 60px;
	display: flex;
	align-items: center;

	@include media-breakpoint-up(md) {
		height: 78px;
	}

	@include media-breakpoint-down(sm) {
		img {
			height: 60px;
		}
	}
}

.navbar-brand {
	width: 180px;
	padding: 0;
}

.nav-link {
	font-size: 1.25rem;
	text-transform: uppercase;
}

.btn-nav {
	font-family: $headings-font-family !important;
	color: $white;
	text-transform: uppercase;
	font-weight: $font-weight-semibold;

	:hover {
		color: $white !important;
	}
}

.more {
	padding-top: 0;
	padding-bottom: 0;
}

.megamenu {
	position: static;

	.megamenu-heading {
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		margin-bottom: 0;
		font-family: $headings-font-family;
		font-size: 1.15rem;

		a:hover {
			text-decoration: none;
			color: $dark;
		}
	}

	 .megamenu-subheading {
		font-size: 1rem;
		padding: .35rem 0;
	 }

	.dropdown-menu {
		background: none;
		border: none;
		width: 100%;

		.nav-link {
			font-size: 1rem;
			color: $body-color;
			text-transform: none;
		}
	}

	.subcategories {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: .5rem;
	}

	.subcategory {
		width: 50%;
		box-sizing: border-box;
		background-clip:content-box;
	}

	.megamenu-bottom {
		min-height: 120px;
	}

	.guide-link {
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		color: $highlight;
		font-size: 1.45rem;

		a {
			color: $highlight;
		}

		a:hover {
			text-decoration: none;
			color: $dark;
		}
	}

	@include media-breakpoint-up(md) {
		.nav-guide img {
			position: absolute;
			top: calc(-25% + 3px);
			left: 1rem;
			clip-path: inset(0 0 calc(25% + 1rem) 0);
		}
	}

}

// Top Bar
.navbar-top {
	// background-color: #eee; 
	background-color: $editorial-lt;

	.nav-link {
		text-transform: none;
		font-size: 1rem;
	}

	.dropdown-item:hover, .dropdown-item:focus {
	    color: $white;
	    background-color: $green;
	}
}

.nav-market {
	font-family: $headings-font-family;
	color: $primary;
	font-weight: $font-weight-bold;

	.market-name {
		text-transform: uppercase;
	}

	.cities {
		font-size: .9rem;
	}
}

// Mobile Only
.mobile-nav {
	.no-sub {
		margin-left: 22px;
	}

	.dropdown-toggle::after {
	    display: none;
	}

	.dropdown-toggle::before {
	    border: 0.125rem solid currentColor;
	    border-top: 0;
	    border-left: 0;
	    content: '';
	    display: inline-block;
	    height: 0.75rem;
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    width: 0.75rem;
	    margin-right: .5rem;
	    vertical-align: .25rem;
	}

	.show .dropdown-toggle::before {
		transform: rotate(-135deg);
		vertical-align: -.1rem;
	}

	.menu-group-primary>.dropdown>.dropdown-toggle {
	    padding-bottom: .75rem;
	    padding-top: .75rem;
	}

	.dropdown-toggle:not([aria-expanded='true'])::after {
	    background-color: $white;
	    bottom: 0;
	    content: '';
	    display: block;
	    height: 0.0625rem;
	    left: 1.125rem;
	    right: -2rem;
	    position: absolute;
	    border: none;
	    margin-left: 0;
	}

	.dropdown-menu {
	    padding: 0.5rem 0;
	    margin-left: -1rem;
	    margin-right: -1rem;
	    margin-top: 0;
	    font-size: 1.25rem;
	    color: $blue-light;
	    text-align: left;
	    list-style: none;
	    background-color: darken($primary, 5);
	    border: none;
	    border-radius: 0;
	    overflow: hidden;

	    .dropdown-item {
	    	color: $blue-light;
	    	// padding-left: 1rem;
	    }

	    .category-home {
			padding-left: .75rem;
		}

		.subcategory-item {
			padding-left: 2.5rem;
		}
	}

	.menu-item-title {
		font-size: 1.35rem;
	}


}

