
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.content-wrapper {
  min-height: 100vh;
}

header {
	margin-bottom: 85px;
}

h1 {
  color: $highlight;
}

h2 {
  color: $primary;
  font-weight: $font-weight-normal;
}

.navbar {
	min-height: 93px;
	background-color: $indigo;
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 8px solid $green;

  .bucket-list {
    background-color: $green;
    height: 100%;
    padding: 1rem;

    .nav-link {
      color: $primary;
    }
  }
}

.navbar-brand {
	width: 180px;
	padding: 0;
}
.nav-link {
	font-size: 1.25rem;
	text-transform: uppercase;
}

@include media-breakpoint-up(lg) {
  .dropdown:hover>.dropdown-menu {
	  display: block;
	}
}


.footer {
    // position: fixed;
    // bottom: 0;
    width: 100%;
    height: 400px;
    line-height: 60px;
    padding: 2rem;
    background-color: $navy;

    h4 {
    	color: $white;
    	border-bottom: 1px solid $white;
    }
}

label {
	font-weight: $font-weight-medium;
}

// fonts etc 

.card-title h5 {
	font-size: 1.5rem;
}

.tripIdeas {
	h2 {
		// color: $editorial;
	}

	.card-title, .card-title a {
		color: $editorial;
		font-weight: $font-weight-bold;
	}

}

.advSpotlights {
	background-color: $green-light;
	padding: 2rem 0;

	h2 {
		color: $primary;
	}

	.card {
		border: none;
	}

	.card-title, .card-title a {
		color: $advertisers;
		font-weight: $font-weight-bold;
	}

}

.visitorInfo {
		h2 {
		// color: $primary;
	}

  h5 a {
    color: $editorial;
    font-weight: $font-weight-bold;
  }

  .media .image {
    width: 35%;
  }

	.stacked-cards {
		// border-bottom: 1px solid $editorial;
		padding-bottom: 1rem;

    .card-img {
      width: 33%;
      // margin-right: .25rem;
      // float:left;
    }
	}
}

.search {
	background-color: $blue-light;
}

.ads {
	margin: 4rem 0;
}

.card-footer {
  background-color: $card-bg;
  border-top: none;
}

.tags {
	font-weight: $font-weight-medium;
	border-radius: 0;
	background-color: $light;
}

// Profile Pages
.social {
  .social-item {
    font-size: 1rem;
    padding: 6px 8px;
    margin-right: .25rem;
  }
  .social-item.fb {
    padding: 6px 12px;
  }
  .social-item.yt {
    padding: 6px 7px;
  }
  .social-item.ig {
    padding: 6px 9px;
  }
}

.advertiser-cat {
  font-size: 1.125rem;
  font-weight: $font-weight-bold;
  font-family: $font-family-sans-serif-reg;
  margin-left: 1rem;
}

.btn.tags {
  padding: 0 0.5rem;
}

.scrollarea {
  max-height: 260px;
  overflow-y: scroll;
}

.locations {
  a {
    color: $body-color;
  }
}

.tollfree {
  font-weight: $font-weight-bold;
  font-family: $font-family-sans-serif-reg;
}

.map {
  height: 250px;
}

#map {
  height: 400px;
  width: 100%;
  background-color: grey;
}

/* ---- Special Chart CSS */
.tide_charts_body {
  float: left;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #bbb;
  margin: .35em;
  width: 250px;
  text-align: center;
}
.tideCharts .tide_charts_body td, .tide_charts_body td {
  border-top: 1px solid #ddd;
  padding: 4px 6px;
  border-right: 1px solid #ddd;
}
.tideCharts .tide_charts_body th, .tide_charts_body th {
  padding: 4px 8px;
  background-color: #336699;
	color: #FFF;
	font-weight: bold;
	font-size: 1.15rem;
}
.tide_charts_body tbody tr:nth-child(even) td, .tide_charts_body thead td {
  background-color: #eee;
}

.article-slider .carousel-item img {
  width: 100%;
  object-fit: cover;
}

    /* Card Carousel */
  /* Tablet and up */

  // @media screen and (min-width: 768px) {
  //   #advCarousel {
  //     .carousel-inner .active,
  //     .carousel-inner .active+.carousel-item {
  //       display: block;
  //     }
  //     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  //     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
  //       -webkit-transition: none;
  //       transition: none;
  //     }
  //     .carousel-inner .carousel-item-next,
  //     .carousel-inner .carousel-item-prev {
  //       position: relative;
  //       -webkit-transform: translate3d(0, 0, 0);
  //       transform: translate3d(0, 0, 0);
  //     }
  //     .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
  //       position: absolute;
  //       top: 0;
  //       right: -50%;
  //       z-index: -1;
  //       display: block;
  //       visibility: visible;
  //     }
  //     /* left or forward direction */
  //     .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  //     .carousel-item-next.carousel-item-left+.carousel-item {
  //       position: relative;
  //       -webkit-transform: translate3d(-100%, 0, 0);
  //       transform: translate3d(-100%, 0, 0);
  //       visibility: visible;
  //     }
  //     /* farthest right hidden item must be abso position for animations */
  //     .carousel-inner .carousel-item-prev.carousel-item-right {
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //       z-index: -1;
  //       display: block;
  //       visibility: visible;
  //     }
  //     /* right or prev direction */
  //     .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  //     .carousel-item-prev.carousel-item-right+.carousel-item {
  //       position: relative;
  //       -webkit-transform: translate3d(100%, 0, 0);
  //       transform: translate3d(100%, 0, 0);
  //       visibility: visible;
  //       display: block;
  //       visibility: visible;
  //     }
  //   }
  // }

  // /* Desktop and up */

  // @media screen and (min-width: 992px) {
  //   #advCarousel {
  //     .carousel-inner .active,
  //     .carousel-inner .active+.carousel-item,
  //     .carousel-inner .active+.carousel-item+.carousel-item {
  //       display: block;
  //     }
  //     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  //     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
  //     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
  //       -webkit-transition: none;
  //       transition: none;
  //     }
  //     .carousel-inner .carousel-item-next,
  //     .carousel-inner .carousel-item-prev {
  //       position: relative;
  //       -webkit-transform: translate3d(0, 0, 0);
  //       transform: translate3d(0, 0, 0);
  //     }
  //     .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
  //       position: absolute;
  //       top: 0;
  //       right: -33.3333%;
  //       z-index: -1;
  //       display: block;
  //       visibility: visible;
  //     }
  //     /* left or forward direction */
  //     .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  //     .carousel-item-next.carousel-item-left+.carousel-item,
  //     .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
  //     .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
  //       position: relative;
  //       -webkit-transform: translate3d(-100%, 0, 0);
  //       transform: translate3d(-100%, 0, 0);
  //       visibility: visible;
  //     }
  //     /* farthest right hidden item must be abso position for animations */
  //     .carousel-inner .carousel-item-prev.carousel-item-right {
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //       z-index: -1;
  //       display: block;
  //       visibility: visible;
  //     }
  //     /* right or prev direction */
  //     .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  //     .carousel-item-prev.carousel-item-right+.carousel-item,
  //     .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
  //     .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
  //       position: relative;
  //       -webkit-transform: translate3d(100%, 0, 0);
  //       transform: translate3d(100%, 0, 0);
  //       visibility: visible;
  //       display: block;
  //       visibility: visible;
  //     }
  //   }
  // }

