
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Partials
// @import 'nav';
@import 'nav2';
@import 'type';
@import 'forms';
@import 'cards';
@import 'sliders';
@import 'headers';
@import 'panels';
@import 'markets';
@import 'advertisers';
@import 'advprofiles';
@import 'shows';
@import 'coupons';
@import 'articles';
@import 'events';
@import 'charts';
@import 'footer';
@import '_home';

.content-wrapper {
	min-height: 100vh;
}

label {
	font-weight: $font-weight-medium;
}

.search {
	// background-color: $blue-light;
}

.ads {
	margin: 2rem 0;

	@include media-breakpoint-up(md) {
		margin: 4rem 0;
	}
}
.btn {
	font-family: $font-family-sans-serif;
}
.tags-links {
	font-weight: $font-weight-medium;
	position: relative;
	z-index: 2;
}

.category-links {
	line-height: 1.2;
	position: relative;
	z-index: 2;
	margin-bottom: .5rem;
}

.vh-center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.banner-ad {
	background-color: $light;
	color: $white;
	padding: 2rem;
	margin: 0 15px 15px 15px;
	@include media-breakpoint-up(md) {
		margin: 15px 15px 15px 15px;
	}
}

.empty-jumbo {
	position: relative;
	width: 100%;
	min-height: 200px;
	@include media-breakpoint-up(md) {
		min-height: 400px;
	}
}
.gradient {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
	background: $advertisers; /* Old browsers */
	background: -moz-linear-gradient(45deg,  $advertisers 0%, $editorial 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  $advertisers 0%, $editorial 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  $advertisers 0%, $editorial 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add33b', endColorstr='#60A3D9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@font-face {
	font-family: 'sunnyday';
	src:  url('/fonts/sunnyday.eot?cqwswr');
	src:  url('/fonts/sunnyday.eot?cqwswr#iefix') format('embedded-opentype'),
	url('/fonts/sunnyday.ttf?cqwswr') format('truetype'),
	url('/fonts/sunnyday.woff?cqwswr') format('woff'),
	url('/fonts/sunnyday.svg?cqwswr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'sunnyday' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bucket:before {
	content: "\e900";
}

.bucket-btn {
	font-size: 2.75rem;
	line-height: .5;
}

.bucket-items {
	display: block;
	font-size: 1rem;
	position: absolute;
	left: 32%;
	bottom: 10%;
}

.bucket-instructions {
	font-family: $headings-font-family;
}




